.portfolioHeader {
  text-align: center;
  margin-block-end: var(--sp-xl);
  margin-block-start: var(--sp-xxl);
  padding-block-start: var(--sp-xl);
}

.title {
  margin: 0 !important;
  padding: 0 !important;
}
