.root {
  display: grid;
  grid-template-columns: var(--grid-spec);
  grid-gap: var(--sp-xs);
  flex-wrap: wrap;
  margin-bottom: var(--sp-s);
}

.root nav ul {
  display: flex;
  gap: var(--sp-s);
}

@media (max-width: 64em) {
  .root > * {
    grid-column: var(--center-column);
  }
}

.activeSegment {
  position: relative;
}

.activeSegment::after {
  content: "*";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--site-color);
}
