/*
 * Reset
 * =====
 *
 */

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

input, button, textarea {
  font: inherit;
}

h1, h2,
ul, ol,
p, table, form, figure, blockquote,
pre {
  margin-bottom: var(--baseline);
}

img, object {
  max-width: 100%;
}

ul, ol {
  padding-left: var(--baseline);
}

  li ul, li ol {
    margin-bottom: 0;
  }
