
@import "base.variables.css";
@import "base.reset.css";

@import "utilities.display.css";
@import "utilities.spacing.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

header {
  position: static;
}

a {
  color: inherit;
}

  a:hover {
    color: var(--site-color);
  }

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  font: 100%/1.5 var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  color: #25282B;
  background-color: #D1CDC7;

  background-image: url('/static/images/t1.svg'),
                    url('/static/images/t2.svg'),
                    url('/static/images/t3.svg'),
                    url('/static/images/t4.svg');
  background-repeat: no-repeat;
  background-position: top 1.5rem center,
                       center right 1.5rem,
                       bottom 1.5rem center,
                       center left 1.5rem;
}

body {
  position: static;
}

.wrap {
  position: static;
  perspective: 800px;
  perspective-origin: top center;
}

.main {
  transform-style: preserve-3d;
  will-change: transform;
}

.main-wrap {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  max-height: 500px;
}

.fl50 {
  flex: 1 1 50%;
}

.site-title {
  position: absolute;
  top: -3rem;
  left: -1.5rem;
  width: 4em;
  z-index: 1;

  color: #fff;
  font-weight: 400;
  font-size: 4.5rem;
  letter-spacing: -.03em;
  line-height: 1;

  transform: translateZ(50px) scale(0.95);

  cursor: default;
  user-select: none;
}

.main-image {
  margin: 0;
  overflow: hidden;

  background-color: #000207;
  transform-style: preserve-3d;
  will-change: transform;
}

  .main-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.05);
  }

.main-content {
  padding: 3rem;
  background-color: #fff;
  transform: translateZ(1px);
}

.uc-badge {
  position: absolute;
  top: -3.5rem;
  right: -3.5rem;

  animation: badge-spin 7.5s infinite linear;
  transform: rotate3d(0,0,1,0);
  transform-origin: center center;

  will-change: transform;
  user-select: none;
}

@keyframes badge-spin {
  to {
    transform: rotate3d(0,0,1,360deg);
  }
}

.emegg {
  fill: #fff;
}

  .emegg.em-poop {
    fill: #6A4F3B;
  }

  .emegg.em-hundred {
    fill: #F35369;
  }

  .emegg.em-sparkles {
    fill: #FCD872;
  }

  .emegg.em-peace {
    fill: #F1D2B6;
  }

  .emegg path {
    fill: inherit;
  }

@media (max-width: 1000px) {
  html {
    min-height: none;
    padding: 2.5rem;

    font-size: 87.5%;

    background-size: auto .5rem,
                     .5rem auto;
    background-position: top 1rem center,
                         center right 1rem,
                         bottom 1rem center,
                         center left 1rem;
  }

  .main-wrap {
    max-height: none;
    max-width: 500px;
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .fl50 {
    flex: none;
  }

  .main-content {
    padding: 1.5rem;
  }

  .main-image {
    height: 40vh;
    min-height: 12rem;
  }

  .uc-badge {
    display: none;
  }

  .site-title {
    font-size: 3rem;
    top: -1rem;
    left: -1rem;
  }
}
