
@import "base.variables.css";
@import "base.reset.css";
@import "base.typography.css";

@import "utilities.display.css";
@import "utilities.spacing.css";

html {
  font: 100%/1.5 var(--serif);
  font-feature-settings: "liga" 1, "hist" 1, "swsh" 1;
  background-color: #f7f7f7;
  color: var(--text-color);
}

body {
  padding: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

figcaption {
  position: absolute;
  top: .25em;
  left: .5em;
  color: #fff;
  font-family: var(--sans-serif);
  font-size: .875rem;
}

a {
  font-family: var(--sans-serif);
}

p, figure {
  margin-bottom: 1rem;
}

.site__title {
  border-bottom: 1px solid;
  margin-bottom: 1.5rem;
}

.grid {
  columns: 2 1rem;
  max-width: 60rem;
}

main {
  column-span: all;
  margin-bottom: 2rem;
}

@media (min-width: 36rem) {
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  figure {
    margin-bottom: 0;
  }
}

@media (min-width: 50rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  main {
    grid-row: 1 / 3;
  }
}
