
@import "base.variables.css";
@import "base.reset.css";

@import "utilities.display.css";
@import "utilities.spacing.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

header {
  position: static;
}

a {
  color: inherit;
}

  a:hover {
    color: var(--site-color);
  }

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  font: 100%/1.5 var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  color: #25282B;
  background-color: var(--site-color);

  background-image: url('/static/images/t1.svg'),
                    url('/static/images/t2.svg'),
                    url('/static/images/t3.svg'),
                    url('/static/images/t4.svg');
  background-repeat: no-repeat;
  background-position: top 1.5rem center,
                       center right 1.5rem,
                       bottom 1.5rem center,
                       center left 1.5rem;
}

  .c1 { background-color: #866FED; }
  .c2 { background-color: #72B6EC; }
  .c3 { background-color: #ED7A6F; }
  .c4 { background-color: #86C49A; }
  .c5 { background-color: #FCE897; }

body {
  position: static;
}

.main {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  max-height: 500px;
}

.fl50 {
  flex: 1 1 50%;
}

.site-title {
  position: absolute;
  top: -3rem;
  left: -1.5rem;
  width: 4em;
  z-index: 1;

  color: #fff;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1;

  mix-blend-mode: hard-light;

  cursor: default;
  user-select: none;
}

  .c1 .site-title { color: #72B6EC; }
  .c2 .site-title { color: #ED7A6F; }
  .c3 .site-title { color: #86C49A; }
  .c4 .site-title { color: #FCE897; }
  .c5 .site-title { color: #866FED; }

.main-image {
  margin: 0;
  overflow: hidden;

  background-color: currentColor;
}

  @media (min-width: 1000px) {
    .main-image {
      border-bottom-left-radius: 4000px;
    }
  }

  .main-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

.main-content {
  padding: 3rem;
  background-color: #fff;
}

.uc-badge {
  position: absolute;
  top: -3.5rem;
  right: -3.5rem;
  animation: badge-spin 5s infinite linear;
  transform-origin: center center;
}

@keyframes badge-spin {
  to {
    transform: rotate(360deg);
  }
}

.emegg {
  fill: #fff;
  mix-blend-mode: hard-light;
}

  .emegg path {
    fill: inherit;
  }

@media (max-width: 1000px) {
  html {
    min-height: none;
  }

  .main {
    max-height: none;
    max-width: 500px;
    height: auto;
    flex-direction: column;
  }

  .fl50 {
    flex: none;
  }

  .main-content {
    padding: 3rem 1.5rem;
  }

  .main-image {
    height: 40vh;
    min-height: 12rem;
  }

  .uc-badge {
    animation-direction: reverse;
  }

  .site-title {
    font-size: 3rem;
    top: .5rem;
    left: .5rem;
  }
}
