/*
 * Header
 * ======
 *
 */

.site__header {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--baseline);
  padding: var(--baseline) 0 0;
}

.page__header {
  margin-bottom: calc(var(--baseline) * 2);
}
