.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--baseline);
  align-items: baseline;
}

@media (max-width: 40rem) {
  .library {
    grid-template-columns: repeat(2, 1fr);
  }
}
