{
  "root": true,
  "settings": {
    "import/core-modules": ["gatsby"]
  },
  "globals": {
    "graphql": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "prettier",
  "plugins": ["import", "react", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
