/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  max-width: 44rem;
  margin: 0 auto;
  padding: 0 $baseline*3;

  @media (max-width: $breakpoint-small) {
  	padding: 0 $baseline/1.4;
  }
}

figure img {
  @media (max-width: $breakpoint-small) {
    max-width: calc(100% + 2.201rem);
    width: calc(100% + 2.201rem);
    margin-left: -1.107142857rem;
    margin-right: -1.107142857rem;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 1.5rem;
}

.alignleft, .alignright {
  clear: both;
  margin-bottom: $baseline/2;
  max-width: 38.2%;

  img {
    max-width: 100%;
    width: auto;
    margin: auto;
    margin-bottom: $baseline/2;

    @media (max-width: $breakpoint-small) {
      max-width: calc(100% + 2.201rem);
      width: calc(100% + 2.201rem);
      margin-left: -1.107142857rem;
      margin-right: -1.107142857rem;
    }
  }
}

  .alignleft {
    float: left;
    margin-left: -38.2%;
    padding-right: 1.5rem;
  }

  .alignright {
    float: right;
    margin-right: -38.2%;
    padding-left: 1.5rem;
  }

  @media screen and (max-width: $breakpoint-big) {
    .alignleft {
      margin-left: -19.1%;
    }

    .alignright {
      margin-right: -19.1%;
    }
  }

  @media screen and (max-width: $baseline*33) {
    .alignleft {
      margin-left: 0;
    }

    .alignright {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    .alignleft, .alignright {
      float: none;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      padding: 0;
    }
  }