/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

input, button, select, textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/*-----------------------------------*\
  $CLEARFIX
\*-----------------------------------*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
