/*-----------------------------------*\
  $SHARED
\*-----------------------------------*/

::selection {
  background-color: #dddedf;
  text-shadow: none;
}

::-moz-selection {
  background-color: #dddedf;
  text-shadow: none;
}

:target, mark {
  background-color: rgba(255,200,0,.3);
}

img, video, figure {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, p, ul, ol, dl, dd, table, .highlight, form, picture, .b, .p, figure {
  margin-bottom: $baseline;
  display: block;
}

ul, ol {
  padding-left: 1.2rem;

  ul, ol {
    margin-bottom: 0;
  }

}

ul {
  list-style-image: inline-image('bullet.svg');

  ul {
    list-style-image: inline-image('bullet-inside.svg');
  }

}