/*-----------------------------------*\
  $TYPE
\*-----------------------------------*/

a {
  color: inherit;
  text-decoration: underline;
  &:hover, &:focus {
    color: $link;
  }

  .site-header &, .posts-by-year & {
    text-decoration: none;
  }

  .posts-by-year & {
    color: $link;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

hr {
  border: none;
  margin-bottom: 0;

  &:after {
    content: "* * *";
    font-size: 1.75rem;
    font-family: $Sans;
    font-weight: 700;
    line-height: .857142857;
    letter-spacing: .2em;
    color: rgba(0,0,0,.3);
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.75rem;
  }
}

h1, .alpha {
  font-size: $baseline*1.8;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: -.04em;

  @media (max-width: $breakpoint-small) {
    font-size: 2rem;
    line-height: 1;
  }
}

h2, .beta {
  clear: both;
  font-size: $baseline;
  font-weight: 700;
  margin-bottom: $baseline/2;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0;
  font-family: $Serif;
  letter-spacing: -.03em;
  + .beta {
    padding-top: 0;
  }
}

  p + h2, p + .beta {
    padding-top: $baseline;
  }

h3, .gamma {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0;
  font-style: normal;
  letter-spacing: .1em;
  font-family: $Sans-SC;
  text-transform: uppercase;
}

.entry-content p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

small {
  font-size: $baseline/2;
  line-height: 1.666;
  color: rgba(0,0,0,.7);
}

del {
  opacity: .65;
  text-decoration: line-through;
}

.callout, .promo {
  text-align: center;
}

.caps {
  text-transform: uppercase;
  font-family: $Serif-SC;
  letter-spacing: .02em;
}

figcaption {
  font-family: $Sans;
  font-size: $baseline/2;
  color: darken($gray, 25%);
  .caps {
    font-family: $Sans-SC;
  }
}

blockquote {
  font-family: $Sans;
  padding-left: 1.55rem;
  border-left: 2px solid lighten($gray, 15%);
  color: darken($gray, 35%);

  .caps {
    font-family: $Sans-SC;
  }

  em {
    font-style: normal;
  }
}