@font-face {
  font-display: swap;
  font-family: "Founders Grotesk Mono Web";
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
    url("webfonts/FoundersGroteskMonoWeb-Regular.woff") format("woff"),
    url("webfonts/FoundersGroteskMonoWeb-Regular.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: swap;
  font-family: "Untitled Sans Web";
  font-style: italic;
  font-weight: normal;
  src: url("webfonts/UntitledSansWeb-RegularItalic.woff2") format("woff2"),
    url("webfonts/UntitledSansWeb-RegularItalic.woff") format("woff"),
    url("webfonts/UntitledSansWeb-RegularItalic.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: swap;
  font-family: "Untitled Sans Web";
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/UntitledSansWeb-Regular.woff2") format("woff2"),
    url("webfonts/UntitledSansWeb-Regular.woff") format("woff"),
    url("webfonts/UntitledSansWeb-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-display: swap;
  font-family: "Untitled Sans Web";
  font-style: normal;
  font-weight: bold;
  src: url("webfonts/UntitledSansWeb-Bold.woff2") format("woff2"),
    url("webfonts/UntitledSansWeb-Bold.woff") format("woff"),
    url("webfonts/UntitledSansWeb-Bold.eot") format("embedded-opentype");
}

@font-face {
  font-display: swap;
  font-family: "Orelo Variable";
  src: url("webfonts/OreloVariable.ttf") format("truetype-variations");
}
