@font-face {
  font-display: optional;
  font-family: "Soehne Breit Web";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/soehne-breit-web-fett.woff2") format("woff2"),
    url("/fonts/soehne-breit-web-fett.woff") format("woff"),
    url("/fonts/soehne-breit-web-fett.eot") format("embedded-opentype");
}

@font-face {
  font-display: optional;
  font-family: "Founders Grotesk Mono Web";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
    url("/fonts/FoundersGroteskMonoWeb-Regular.woff") format("woff"),
    url("/fonts/FoundersGroteskMonoWeb-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-display: optional;
  font-family: "National 2 Web";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/National2Web-RegularItalic.woff2") format("woff2"),
    url("/fonts/National2Web-RegularItalic.woff") format("woff"),
    url("/fonts/National2Web-RegularItalic.eot") format("embedded-opentype");
}

@font-face {
  font-display: optional;
  font-family: "National 2 Web";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/National2Web-Regular.woff2") format("woff2"),
    url("/fonts/National2Web-Regular.woff") format("woff"),
    url("/fonts/National2Web-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-display: optional;
  font-family: "National 2 Web";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/National2Web-Bold.woff2") format("woff2"),
    url("/fonts/National2Web-Bold.woff") format("woff"),
    url("/fonts/National2Web-Bold.eot") format("embedded-opentype");
}

@font-face {
  font-display: optional;
  font-family: "National 2 Web";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/National2Web-BoldItalic.woff2") format("woff2"),
    url("/fonts/National2Web-BoldItalic.woff") format("woff"),
    url("/fonts/National2Web-BoldItalic.eot") format("embedded-opentype");
}
