@font-face {
  font-display: fallback;
  font-family: "Soehne Breit Web";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/soehne/soehne-breit-web-fett.woff2") format("woff2"),
    url("/fonts/soehne/soehne-breit-web-fett.woff") format("woff"),
    url("/fonts/soehne/soehne-breit-web-fett.eot") format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Roslindale Display";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/roslindale/Roslindale-DisplayCondensedRegular.woff2")
      format("woff2"),
    url("/fonts/roslindale/Roslindale-DisplayCondensedRegular.woff")
      format("woff"),
    url("/fonts/roslindale/Roslindale-DisplayCondensedRegular.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Roslindale Text";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/roslindale/Roslindale-TextItalic.woff2") format("woff2"),
    url("/fonts/roslindale/Roslindale-TextItalic.woff") format("woff"),
    url("/fonts/roslindale/Roslindale-TextItalic.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Roslindale Text";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/roslindale/Roslindale-TextRegular.woff2") format("woff2"),
    url("/fonts/roslindale/Roslindale-TextRegular.woff") format("woff"),
    url("/fonts/roslindale/Roslindale-TextRegular.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Roslindale Text";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/roslindale/Roslindale-TextBold.woff2") format("woff2"),
    url("/fonts/roslindale/Roslindale-TextBold.woff") format("woff"),
    url("/fonts/roslindale/Roslindale-TextBold.eot") format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Roslindale Text";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/roslindale/Roslindale-TextBoldItalic.woff2") format("woff2"),
    url("/fonts/roslindale/Roslindale-TextBoldItalic.woff") format("woff"),
    url("/fonts/roslindale/Roslindale-TextBoldItalic.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "JetBrains Mono Web";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/jetbrains/JetBrainsMono-Regular.woff") format("woff"),
    url("/fonts/jetbrains/JetBrainsMono-Regular.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "JetBrains Mono Web";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/fonts/jetbrains/JetBrainsMono-Italic.woff") format("woff"),
    url("/fonts/jetbrains/JetBrainsMono-Italic.eot") format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "JetBrains Mono Web";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/fonts/jetbrains/JetBrainsMono-Bold.woff") format("woff"),
    url("/fonts/jetbrains/JetBrainsMono-Bold.eot") format("embedded-opentype");
}
