  <footer class="site__footer" role="contentinfo">
    <div class="wrap">
      <div class="island--v">
        <section>
          <img alt='Portrait of Daniel Eden' src='/static/images/face.jpeg' class='avatar' height='90' width='90' />
          <h3>About</h3>
          <p>My name is Daniel Eden. I&rsquo;m a designer from Manchester, <span class="caps">UK</span> currently living and working in San Francisco. Learn more <a href="/about">about me</a> or this site’s&nbsp;<a href="/purpose">purpose</a>.</p>
        </section>

        <section>
          <h3>Colophon</h3>
          <p>Designed, developed, and maintained by <a href="/about">Daniel Eden</a>. Hosted by <a title="RamNode" href="https://clientarea.ramnode.com/aff.php?aff=088">RamNode</a>. Set in H<span class="caps">oefler</span> &amp; C<span class="caps">o</span>&rsquo;s Mercury and Whitney. Check the&nbsp;<a href="/styleguide">styleguide</a>. View <a href="//github.com/daneden/daneden.me">the source</a>.<p>
        </section>
      </div>
    </div>
  </footer>

  {% include scripts.html %}

</body>
</html>