  <footer class="wrap site__footer" role="contentinfo">
    <div class="grid">
      <section class="small grid__col grid__col--2-of-6 p-author vcard">
        <h4>About</h4>
        <p>My name is <span class="fn">Daniel Eden</span>. I&rsquo;m a designer from Manchester, <span class="caps">UK</span> currently living and working in San Francisco.</p>
      </section>

      <section class="small grid__col grid__col--2-of-6">
        <h4>Colophon</h4>
        <p>Designed, developed, and maintained by <a href="/about">Daniel Eden</a>. Hosted by <a title="RamNode" href="https://clientarea.ramnode.com/aff.php?aff=088">RamNode</a>. Set in H<span class="caps">oefler</span> &amp; C<span class="caps">o</span>&rsquo;s Hoefler Text and Whitney. Check the&nbsp;<a href="/styleguide">style guide</a>. View <a href="https://bitbucket.org/daneden/daneden.me">the source</a>.</p>
      </section>

      <section class="small grid__col grid__col--2-of-6">
        <h4>Points of Interest</h4>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/quotes">Quotes</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>
      </section>
    </div>
  </footer>
  <div class="footer__copyright wrap small caps promo isle--v">
    <p>&copy; {{ site.time | date: '%Y' }} Daniel Eden, unless otherwise noted.</p>
  </div>

  {% include scripts.html %}

</body>
</html>
