<!DOCTYPE html>
<html lang="en"{% if page.class %} class="{{ page.class }}"{% endif %}>
  <meta charset="utf-8" />
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="initial-scale=1" />
  <meta name="p:domain_verify" content="aa712630840b421410cce3b56d2dc764" />

  <meta rel="dns-prefetch" href="//daneden.imgix.net" />

  <meta property="og:title" content="{{ page.title | xml_escape }}"/>
  <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}" />
  <meta property="og:site_name" content="{{ site.name | xml_escape }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.is_post %}
  <meta property="og:description" content="{{ page.content | strip_html | lstrip | truncatewords: 50 }}"/>
  {% endif %}
  <meta property="og:image" content={% if page.hero %}
    "{{ site.url }}/uploads/{{ page.hero }}"
    {% else %}
    "{{ site.url }}/uploads/2016/08/banner.png"
    {% endif %}
    />

  <meta name="theme-color" content="{{ site.color[0] }}" />

  <style>
    {% asset 'style' %}
  </style>

  <script>
    {% asset 'fonts' %}
  </script>

  <!-- Icons -->
  <link rel="shortcut icon" href="/static/images/favicon@2x.png" />
  <link rel="apple-touch-icon" href="/static/images/icon.png" />
  <link rel="mask-icon" sizes="any" href="/static/images/favicon.svg" color="{{ site.color[0] }}" />

  <body class="phl">
    <!-- You know, rather than reading the source like a chump, you can see it all on GitHub like a champ: https://github.com/daneden/daneden.me -->
    <header class="wrap site__header" role="banner">
      <a class="site__title ib" href="/">
        <svg class="site-logo b" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <title>{{ site.name }}</title>
          <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="2">
            <path d="M6 22L18 22M6 16L18 16" stroke-linecap="square"/>
            <path d="M5,10 L14.0028126,10 C14.0028126,10 18.5,10 18.5,5.54504395 C18.5,1.09008789 14.0028126,1 14.0028126,1 L5,1"/>
          </g>
        </svg>
      </a>
      {% include nav.html %}
    </header>
