<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta name="p:domain_verify" content="aa712630840b421410cce3b56d2dc764" />

  {% bundle_glob %}
  - /_assets/css/style.min.css
  {% endbundle_glob %}

  <!-- Touch icon -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png" />

  <!-- CSS, y'all -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7158232/640444/css/fonts.css?123" />

  <!-- RSS, brotha -->
   <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

  <!-- You know, rather than reading the source like a chump, you can see it all on Bitbucket like a champ: https://bitbucket.org/daneden/daneden.me -->
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  <header class="site__header" role="banner">
    <div class="wrap cf">

      <div class="grid">
        <div class="grid__col--4-of-6 grid__col--centered">
          <a class="site__title o--b island--v gamma" href="/" title="{{ site.name }} • {{ site.description }}">
            {{ site.name }} <span class="title__sep">•</span> <span class="title__desc">{{ site.description }}</span>
          </a>
        </div>
      </div>

    </div>
  </header>
