{% if site.env == 'production' %}
<script>
  (function(d, t) {
  var r = d.createElement(t),
  s = d.getElementsByTagName(t)[0];
  r.src = '//use.resrc.it';
  s.parentNode.insertBefore(r, s)
  }(document, 'script'));
</script>
{% endif %}

<!-- Load jQuery. Probably cached on the user’s machine, so I’m not overly bothered about the weight addition of this. -->
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Per-page scripts injected here -->
{% for script in page.scripts %}
  <script src="{{ script }}"></script>
{% endfor %}