.root {
  display: grid;
  grid-template-columns: 1fr;
}

.intro {
  padding: 1.5rem;
}

.xxl {
  font-size: clamp(1.4rem, 7.5vmin, 3.5rem);
  line-height: 1.2;
  font-style: normal;
  font-family: var(--font-sans);
}

.intro .xxl a {
  --padding-size: 0.05em;
  font-family: var(--font-heading);
  letter-spacing: 0;
  font-style: italic;
}
