/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html, :root {
  font: 125%/1.4 $font-Serif;
  background-color: $background;
  color: $dark-gray;

  @media (max-width: 700px) {
    font-size: 100%;
  }

  &.night-mode {
    background-color: $background-invert;
    color: $dark-gray-invert;
  }
}
