//
// Module: base
// ============
//
// High-level styles. Basically just
// the html/:root element.
//

html,
:root {
  font-family: "NeueHaasUnica", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $baseline-unitless;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "kern" 1;
  font-kerning: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $dark-gray;

  // Reset font-smoothing on HiDPI screens
  @media (min-device-pixel-ratio: 2) {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }

  @media (max-width: 860px) {
    font-size: $base-font-size*.9;
  }

  @media (max-width: 500px) {
    font-size: $base-font-size*.8;
  }
}

.wf-fallback, .wf-loading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
