//
// Module: base
// ============
//
// High-level styles. Basically just
// the html/:root element.
//

html,
:root {
  font-family: $font-serif;
  font-size: $base-font-size;
  line-height: $baseline-unitless;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
  font-kerning: normal;

  //background-color: $background;
  background-color: #fff;
  color: $dark-gray;

  @media (max-width: 860px) {
    font-size: $base-font-size*.9;
  }

  @media (max-width: 500px) {
    font-size: $base-font-size*.8;
  }
}
