//
// Module:  code
// ============
//
// Code highlighting styles
//


code,pre {
  font: 85%/1.647058824 "Source Code Pro", Menlo, Consolas, monospace;
}

.highlight pre {
  @extend %isle;

  max-width: 100%;
  overflow: scroll;
  border-radius: .25em;
  background-color: #fafcfd;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

