//
// Module: content
// ===============
//
// High-level styles for the main
// content


.posts__list {
  .beta {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

p:empty {
  display: none;
}

.page__header,
.post__header {
  margin-bottom: $baseline*2;
}

.hentry {
  margin-bottom: $baseline*4;
}

.footnote, .footnote:visited {
  padding: .15em;

  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footnotes {
  @extend %meta;
  @extend %small;

  &:before {
    @extend %hr;

    content: '';
    display: block;
  }

  & :last-child {
    margin-bottom: 0;
  }

  :target {
    color: $dark-gray;
  }
}
