/*-----------------------------------*\

  Module: Docs

\*-----------------------------------*/

.docs__grid {
  overflow: hidden;

  border: 1px solid $subtle-gray;
  border-radius: .25em;
}

.docs__selector {
  margin-bottom: -1px;

  border-right: 1px solid $subtle-gray;
  border-bottom: 1px solid $subtle-gray;
  color: $gray;

  // Prevent double borders
  [class*="grid__col"]:nth-child(3n) & {
    // 1 2*n*4 5*n*7 8*n*
    border-right: none;
  }

  &:hover {
    color: $blue;
  }
}