/*-----------------------------------*\

  Module: footer

  High-level styles for the footer

\*-----------------------------------*/

.site__footer {
  border-top: 1px solid $lighter-gray;

  section {
    @extend %isle--v;
    position: static;

    + section:before {
      content: "";
      position: absolute;
      width: 1px;
      margin-left: -$gutter-width/2;
      top: 0;
      bottom: 0;

      background-color: $lighter-gray;
    }
  }
}
