//
// Module: header
// ==============
//
// High-level styles for the header
//


.site__header {
  z-index: 1000;
  margin-bottom: $baseline*3;
}

.site__nav {
  ul {
    overflow: visible;
  }

  li {
    margin-top: -1px;

    + li {
      margin-left: $baseline;
    }
  }

  a {
    text-decoration: none;

    color: $light-gray;

    &.active, &.active:hover {
      color: $dark-gray;
      text-decoration: underline;
    }

    &:hover {
      color: $dark-gray;
    }
  }
}

$logo-colors: (
  $highlight, // Summer
  #4fb5c6,    // Spring
  #c64f51,    // Fall
  #a881a2     // Winter
);

$l: length($logo-colors);

.site__title {
  .site-logo__bg {
    animation: color-cycle #{$l/8}s steps(1, end) infinite;
    animation-play-state: paused;
  }

  &:hover {
    .site-logo__bg {
      animation-play-state: running;
    }
  }
}

@keyframes color-cycle {
  @for $i from 1 through $l {
    #{(100/$l)*($i - 1)}% {
      fill: nth($logo-colors, $i);
    }
  }
}

