/*-----------------------------------*\

  Module: Header

\*-----------------------------------*/

.banner {
  background-color: $dark-gray;
  color: $subtle-gray;
}

.site__header {
  z-index: 3;
  margin-bottom: $baseline;

  color: $gray;
}

  .site__title {
    text-decoration: none;
    margin-bottom: 0;
  }

  .site__nav {

  }