/*-----------------------------------*\

  Module: Home Page

  Special styles for elements on the
  home page

\*-----------------------------------*/

.page__header--home {
  border-bottom: 1px solid $subtle-gray;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(left, #fff, $subtle-gray, #fff);
  }
}