@import "partials/reset";
@import "partials/base";
@import "partials/shared";
@import "partials/typography";
@import "partials/code";
@import "partials/objects";
@import "partials/layout";

/*-----------------------------------*\
  $MAIN
\*-----------------------------------*/

html {
  font: 112.5%/1.55 $Serif; /* 18px/28px */
  color: darken($gray, 55%);
  background-color: lighten($gray, 15%);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;

  body {
    background-color: lighten($gray, 22.5%);
  }

}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%; /* 15px */
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 125%; /* 20px */
  }
}

.site-content {
  padding-bottom: 3rem;
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site-header {
  padding: $baseline/1.5 0;
  margin-bottom: $baseline;
  //background-color: darken($gray, 60%);
  color: darken($gray, 25%);

  a {
    color: inherit;
  }
}

  .site-title a {
    font-size: 1rem;
    font-family: $Serif;
    font-weight: 700;
    margin-bottom: $baseline/1.5;
    color: darken($gray, 60%);
  }

  .entry-meta {
    font-family: $Sans;
    color: darken($gray, 20%);
  }

    .site-nav {
      margin-bottom: 0;
      padding-left: 0;
      padding-bottom: .25rem;
      border-bottom: .125rem solid lighten($gray, 15%);
      @extend .caps;

      li + li {
        margin-left: $baseline/1.25;
      }
    }

      .site-nav a:hover {
        color: $link;
      }

      .site-nav .active {
        color: $link;
        border-bottom: 2px solid $link;
        padding-bottom: .25rem;
        margin-bottom: -.375rem;
      }

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

.home__illustration {
  max-width: 100%;
  padding-bottom: 63.63%;
  height: 0;

  svg {
    position: absolute;
    top: 0;

    rect {
      transition: .5s ease;
      animation: filler .4s alternate;
      animation-iteration-count: 2;
      animation-fill-mode: backwards;
      animation-delay: .5s;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

      &:hover {
        opacity: .5;
      }

      + rect {
        animation-delay: .7s;

        + rect {
          animation-delay: .9s;

          + rect {
            animation-delay: 1.1s;

            + rect {
              animation-delay: 1.3s;

              + rect {
                animation-delay: 1.5s;

                + rect {
                  animation-delay: 1.7s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes filler {
  to {
    opacity: .5;
  }
}

/*-----------------------------------*\
  $BANNER
\*-----------------------------------*/

.featured-image {
  text-align: center;
}

  .featured-image img {
    margin: auto;
    width: auto;

  }

/*-----------------------------------*\
  $ALL-POSTS
\*-----------------------------------*/

.posts-by-year {
  list-style: none;
  padding-left: 0;

  a {
    font-weight: 700;
  }

  li {
    padding: $baseline/2 0;
    overflow: hidden;

    + li {
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .entry-meta {
      float: right;
      margin-left: $baseline/2;
    }
  }

}

/*-----------------------------------*\
  $ARTICLE
\*-----------------------------------*/

.entry-header {
  padding: $baseline 0;
}

.entry-title {
  margin-bottom: $baseline/2;
}

.entry-content {
  &:after {
    content: "";
    margin: 0 auto;
    width: 112px;
    height: 56px;
    background-image: inline-image("fleuron.min.svg");
    display: block;
    font-size: $baseline*2;
    line-height: 1;
    text-align: center;
    color: $gray;
  }

  > .intro {
    @extend .caps;

    &:first-letter {
      font-family: $Serif;
    }
  }
}

.entry-nav {
  color: darken($gray, 10%);
  margin-bottom: -$baseline*2;
  margin-top: $baseline*2;
  overflow: hidden;
  box-shadow: inset 0 1px lighten($gray, 15%);

  a {
    text-decoration: none;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: lighten($gray, 15%);
  }

  li {
    z-index: 1;
    width: 50%;
    vertical-align: top;

    &:nth-child(odd) a {
      padding-left: 0;
    }

    &:nth-child(even) a {
      padding-right: 0;

      &:before {
        right: auto;
        left: 0;
      }
    }

    a {
      width: 100%;
      padding: $baseline/2;
      position: static;

      &:hover {
        background-color: $link;
        color: #fff;

        &:before {
          background-color: $link;
          box-shadow: 0 0 0 1px $link;
          width: 1000%;
        }
      }


      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: -100%;
        width: 1000%;
      }
    }
  }
}

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

.site-footer {
  padding: $baseline 0;
  background-color: lighten($gray, 15%);
  color: darken($gray, 30%);
  font-size: $baseline/2;

  .wrap {

    section {
      display: inline-block;
      margin-right: -.25em;
      vertical-align: top;
      width: 47.5%;
      margin-left: 5%;

      &:nth-child(2n+1) {
        margin-left: 0;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
        width: auto;
        margin-left: 0;
      }
    }

    @media (max-width: $breakpoint-small) {
      display: block;
    }

  }

  p {
    margin-bottom: 1.5em;
  }
}

  .author-info .avatar {
    position: absolute;
    top: -.25rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
  }

  @media screen and (max-width: 840px) {
    .author-info .avatar {
      display: none;
    }
  }

  .recent-posts {
    padding-left: 0;
    list-style: none;
  }