:root {
  --wash-color: #f2fcfe;
  --text-color: #001d3d;
  --meta-color: #001d3daa;
  --code-wash: #001d3d0a;
  --hover-color: rgb(61, 201, 225);
}

@supports (background-color: color(display-p3 0 1 0)) {
  :root {
    --hover-color: color(display-p3 0.334 0.781 0.835);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f2fcfe;
    --wash-color: #001d3d;
    --meta-color: #f2fcfeaa;
    --code-wash: #f2fcfe0a;
  }
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: var(--font-sans);
  font-weight: 700;
}
