.wf-loading {
	height: 100%;
	overflow: hidden;
	background: url(ajax-loader.gif) center center no-repeat fixed;
}

.wf-loading * {
	opacity: 0;
}

.wf-active body, .wf-inactive body {
	-webkit-animation: fade 1s ease;
}

* {
	margin: 0;
	padding: 0;
	-webkit-animation-fill-mode: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: futura-pt, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

body {
	background: -webkit-linear-gradient(rgba(220,240,255,1), rgba(220,240,255,0)) repeat-x;
	background-size: 200px 200px;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

a {
	text-decoration: none;
	color: #579;
	border-bottom: 1px solid rgba(0,50,70,.4);
	display: inline-block;
}

article {
	max-width: 870px;
	margin: 24px auto;
	overflow: hidden;
}

header h1 {
	color: #024;
	overflow: hidden;
	-webkit-animation: fadeInDown 1s .5s ease;
}

@media screen and (-webkit-animation) {
	header h1, .stats em {
		background: -webkit-linear-gradient(#024, #579);
		color: transparent;
		-webkit-background-clip: text;
	}
}

h1 .line1 {
	float: left;
	font-family: 'Six Caps', sans-serif;
	font-size: 10em;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	width: 114px;
}

h1 .line2, h1 .line3 {
	font-family: futura-pt, sans-serif;
	display: block;
	text-transform: uppercase;
	line-height: 1.2;
	float: right;
	width: 741px;
}

h1 .line2 {
	font-size: 3.4em;
	letter-spacing: .24em;
}

h1 .line3 {
	font-size: 5.684em;
	letter-spacing: .27em;
}

.line3 span:last-child, .line2 span:last-child {
	margin-right: -1em;
}

#stats {
	color: rgba(0,0,0,.5);
}

.stats {
	border-top: 1px solid rgba(0,0,0,.2);
	list-style: none;
}

.stats li {
	float: left;
	width: 33.333%;
	padding: 10px 30px;
	border-left: 1px solid rgba(0,0,0,.2);
	text-transform: uppercase;
	-webkit-animation: fadeInUp .7s 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-webkit-animation-fill-mode: both;
}

.stats li:nth-child(2) { -webkit-animation-delay: 1.1s; }
.stats li:nth-child(3) { -webkit-animation-delay: 1.2s; }

.stats em {
	font-size: 3em;
	font-weight: 700;
	font-style: normal;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	display: block;
}

.stats li:first-child {
	padding-left: 0;
	border-left: none;
}

#stats footer {
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

#progress {
	margin: 24px 0;
}

.life {
	height: 32px;
	background: rgba(0,0,0,.1);
}

.progress {
	background: #fe6;
	background-image: -webkit-linear-gradient(0deg, rgba(255,0,0,0), rgba(255,0,0,.2));
	width: 26%;
	height: 100%;
	display: block;
	position: relative;
	-webkit-transition: 1s 1s ease;
}

.wf-loading .progress {
	width: 0;
}

.progress b {
	position: absolute;
	bottom: -20px;
	right: 0;
	display: inline-block;
}

#profile h2 {
	font-family: adelle, serif;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: .45em;
	line-height: 3em;
	text-align: center;
	color: rgba(0,0,0,.4);
}

@media screen and (-webkit-animation) {
	#profile h2 {
		background: -webkit-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,0));
		color: transparent;
		-webkit-background-clip: text;
	}
}

.me {
	float: left;
	width: 50%;
}

.me.then {
	padding-right: 20px;
	border-right: 1px solid rgba(0,0,0,.2);
}

.me.now {
	padding-left: 20px;
}

.me img {
	width: 200px;
	margin: 0 10px 10px;
}

.me.then img {
	float: right;
	margin-right: 0;
}

.me.now img {
	float: left;
	margin-left: 0;
}

.me h3 {
	background: #f1eeed;
	padding: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.me p, .me ul {
	margin-bottom: 11px;
	overflow: hidden;
}

.me ul li {
	list-style: none;
	float: left;
	padding: 5px 7px;
	background: #fe6;
	margin: 0 5px 5px 0;
	border-radius: 3px;
}

#currently {
	background: url(images/Stockport.jpg) center center no-repeat;
	background-size: cover;
	padding: 50px;
	color: #fff;
	text-shadow: 0 2px 5px rgba(0,0,0,.6);
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: inset 0 0 20px rgba(0,0,0,.3);
	margin: 24px 0;
}

#currently strong {
	display: block;
	font-size: 4em;
	line-height: 2em;
}

footer[role="contentinfo"] {
	text-align: center;
	color: rgba(0,0,0,.2);
	text-transform: uppercase;
}

@-webkit-keyframes fade {
	0% { display: none; opacity: 0; }
	1% { display: block; }
	100%{ opacity: 1; }
}

@-webkit-keyframes fadeInDown {
	from { -webkit-transform: translateY(-10px); opacity: 0; }
	to { -webkit-transform: none; opacity: 1; }
}

@-webkit-keyframes fadeInUp {
	from { -webkit-transform: translateY(10px); opacity: 0; }
	to { -webkit-transform: none; opacity: 1; }
}