/*
 * Content
 * =======
 *
 */

sup[id*="fnref"] a {
  color: var(--site-color);
  font-family: var(--sans-serif);
  margin: 0 .2em;
  text-decoration: none;
}

.footnotes {
  color: var(--meta-color);
  font-size: var(--small);
}

  .footnotes ol {
    padding-left: 0;
  }

  .footnotes li > p {
    display: inline;
  }

  .footnotes li {
    margin-bottom: calc(var(--baseline) / 2);
  }

  .footnotes li:target {
    color: var(--text-color);
  }
