/*
 * Display utilities
 * =================
 *
 */

.b {
  display: block;
}

.ib {
  display: inline-block;
}

.hide {
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden;
  position: absolute;
}
