.portfolioHeader {
  text-align: center;
  margin-block-end: var(--sp-xl);
  margin-block-start: var(--sp-xxl);
  padding-block-start: var(--sp-xl);
}

.appScreenshot {
  display: block;
  position: relative;
  width: max(16rem, 20vmax);
  margin: 0 auto 1.5rem;
}

.title {
  margin: 0 !important;
  padding: 0 !important;
}
