@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/TiemposTextWeb-Regular.eot");
  src: url("../fonts/TiemposTextWeb-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
    url("../fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/TiemposTextWeb-RegularItalic.eot");
  src: url("../fonts/TiemposTextWeb-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),
    url("../fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/TiemposTextWeb-Bold.eot");
  src: url("../fonts/TiemposTextWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposTextWeb-Bold.woff2") format("woff2"),
    url("../fonts/TiemposTextWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/TiemposTextWeb-BoldItalic.eot");
  src: url("../fonts/TiemposTextWeb-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposTextWeb-BoldItalic.woff2") format("woff2"),
    url("../fonts/TiemposTextWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("../fonts/TiemposHeadlineWeb-Light.eot");
  src: url("../fonts/TiemposHeadlineWeb-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposHeadlineWeb-Light.woff2") format("woff2"),
    url("../fonts/TiemposHeadlineWeb-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("../fonts/TiemposHeadlineWeb-LightItalic.eot");
  src: url("../fonts/TiemposHeadlineWeb-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TiemposHeadlineWeb-LightItalic.woff2") format("woff2"),
    url("../fonts/TiemposHeadlineWeb-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Soehne */

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-buch.eot");
  src: url("../fonts/soehne-web-buch.eot?#iefix") format("embedded-opentype"),
    url("../fonts/soehne-web-buch.woff2") format("woff2"),
    url("../fonts/soehne-web-buch.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-buch-kursiv.eot");
  src: url("../fonts/soehne-web-buch-kursiv.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/soehne-web-buch-kursiv.woff2") format("woff2"),
    url("../fonts/soehne-web-buch-kursiv.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-dreiviertelfett.eot");
  src: url("../fonts/soehne-web-dreiviertelfett.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/soehne-web-dreiviertelfett.woff2") format("woff2"),
    url("../fonts/soehne-web-dreiviertelfett.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-dreiviertelfett-kursiv.eot");
  src: url("../fonts/soehne-web-dreiviertelfett-kursiv.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/soehne-web-dreiviertelfett-kursiv.woff2") format("woff2"),
    url("../fonts/soehne-web-dreiviertelfett-kursiv.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
