@font-face {
  font-display: fallback;
  font-family: "Founders Grotesk Mono Web";
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
    url("webfonts/FoundersGroteskMonoWeb-Regular.woff") format("woff"),
    url("webfonts/FoundersGroteskMonoWeb-Regular.eot")
      format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Tiempos Text Web";
  font-style: italic;
  font-weight: normal;
  src: url("webfonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),
    url("webfonts/TiemposTextWeb-RegularItalic.woff") format("woff"),
    url("webfonts/TiemposTextWeb-RegularItalic.eot") format("embedded-opentype");
}

@font-face {
  font-display: fallback;
  font-family: "Tiempos Text Web";
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/TiemposTextWeb-Regular.woff2") format("woff2"),
    url("webfonts/TiemposTextWeb-Regular.woff") format("woff"),
    url("webfonts/TiemposTextWeb-Regular.eot") format("embedded-opentype");
}
