.root {
  border-radius: var(--sp-s);
  padding: var(--sp-m);
  background-color: var(--code-wash);
  font-family: var(--font-sans);
}

.rating {
  color: orange;
}

.root :last-child {
  margin-block-end: 0;
}
