@import '../modules/all';

$baseline: 1.5rem;
$Whitney: "Whitney SSm A", "Whitney SSm B", sans-serif;
$Whitney-SC: "Whitney SSm SC A", "Whitney SSm SC B", sans-serif;
$Hoefler-Text: "Hoefler Text A", "Hoefler Text B", serif;
$Hoefler-Text-SC: "Hoefler Text SC A", "Hoefler Text SC B", serif;
$Requiem: "Requiem Display A", "Requiem Display B", serif;