@import '../modules/all';

$baseline: 1.55rem;
$Sans: "Whitney SSm A", "Whitney SSm B", sans-serif;
$Sans-SC: "Whitney SSm SC A", "Whitney SSm SC B", sans-serif;
$Serif: "Mercury SSm A", "Mercury SSm B", serif;
$Serif-SC: "Mercury SSm SC A", "Mercury SSm SC B", serif;