/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  max-width: 39rem;
  margin: 0 auto;
  padding: 0 $baseline*2;

  @media (max-width: $breakpoint-small) {
  	padding: 0 $baseline/1.4;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 1.5rem;
}

.alignleft, .alignright {
  clear: both;
  margin-bottom: .75rem;
  max-width: 33%;
}

  .alignleft {
    float: left;
    margin-left: -33%;
    padding-right: 1.5rem;
  }

  .alignright {
    float: right;
    margin-right: -33%;
    padding-left: 1.5rem;
  }

  @media screen and (max-width: $breakpoint-big) {
    .alignleft {
      margin-left: -16.5%;
    }

    .alignright {
      margin-right: -16.5%;
    }
  }

  @media screen and (max-width: $baseline*33) {
    .alignleft {
      margin-left: 0;
    }

    .alignright {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .alignleft, .alignright {
      float: none;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      padding: 0;
    }
  }