/*-----------------------------------*\
  $RESET
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

input, button, select, textarea {
  font: inherit; }

img {
  display: block;
  max-width: 100%; }

/*-----------------------------------*\
  $CLEARFIX
\*-----------------------------------*/
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/*-----------------------------------*\
  $SHARED
\*-----------------------------------*/
::selection {
  background-color: #dddedf;
  text-shadow: none; }

::-moz-selection {
  background-color: #dddedf;
  text-shadow: none; }

:target, mark {
  background-color: rgba(255, 200, 0, 0.3); }

img, video, figure {
  max-width: 100%;
  height: auto;
  display: block; }

h1, h2, h3, p, ul, ol, dl, dd, table, .highlight, form, picture {
  margin-bottom: 1.5rem;
  display: block; }

ul, ol {
  padding-left: 1.5em; }

ul {
  list-style: square; }

li ul, li ol {
  margin-bottom: 0; }

/*-----------------------------------*\
  $TYPE
\*-----------------------------------*/
a {
  color: #e2444d;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

hr {
  border: none;
  margin-bottom: 0; }
  hr:after {
    content: "* * *";
    font-size: 1.75rem;
    line-height: .857142857;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, 0.3);
    display: block;
    text-align: center;
    margin-bottom: 1.5rem; }

h1, .alpha {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1; }

h2, .beta {
  clear: both;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  font-style: italic;
  letter-spacing: 0;
  text-transform: none; }

p + h2, p + .beta {
  padding-top: 1.5rem; }

h3, .gamma {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0;
  font-style: normal;
  letter-spacing: .05em;
  font-family: "Hoefler Text SC A", "Hoefler Text SC B", "Hoefler Text", Georgia, serif;
  text-transform: uppercase; }

.entry-content p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

small {
  font-size: .75rem;
  line-height: 1.666;
  color: rgba(0, 0, 0, 0.7); }

del {
  opacity: .5;
  text-decoration: line-through; }

.callout, .promo {
  text-align: center; }

.caps {
  font-family: "Hoefler Text SC A", "Hoefler Text SC B", "Hoefler Text", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: .05em; }

.highlight {
  -webkit-box-sizing: content-box;
  width: 100%;
  margin-left: -1.5rem;
  padding: .75rem 1.5rem;
  overflow: scroll;
  background-color: #26292c;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #49483e; }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #f8f8f2; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #f8f8f2; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #a6e22e; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/
.wrap {
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 3rem; }

@media screen and (max-width: 640px) {
  .wrap {
    padding: 0 1.5rem; } }
.island {
  padding: .75rem; }

.nav {
  list-style: none;
  margin-bottom: 0; }
  .nav li, .nav a {
    display: inline-block; }
  .nav li {
    margin-right: -.25em; }

.avatar {
  border-radius: 100%; }

figure img {
  margin-bottom: .75rem; }

figcaption {
  font-family: "Whitney SSm A", "Whitney SSm B", "Whitney", sans-serif;
  font-size: .7rem;
  line-height: 1.428571429;
  color: rgba(0, 0, 0, 0.5); }
  figcaption .caps {
    font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney", sans-serif; }

.aligncenter {
  margin: 0 auto 1.5rem; }

.alignleft, .alignright {
  clear: both;
  margin-bottom: .75rem;
  max-width: 33%; }

.alignleft {
  float: left;
  margin-left: -33%;
  padding-right: 1.5rem; }

.alignright {
  float: right;
  margin-right: -33%;
  padding-left: 1.5rem; }

@media screen and (max-width: 1180px) {
  .alignleft {
    margin-left: -16.5%; }

  .alignright {
    margin-right: -16.5%; } }
@media screen and (max-width: 940px) {
  .alignleft, .alignright {
    max-width: 25%; }

  .alignleft {
    margin-left: 0; }

  .alignright {
    margin-right: 0; } }
@media screen and (max-width: 600px) {
  .alignleft, .alignright {
    float: none;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 0; } }
.grids {
  margin-left: -5%;
  width: 105%; }

[class^="g-"] {
  display: inline-block;
  vertical-align: top;
  margin-right: -.25em;
  margin-left: 5%; }

.g-1-3 {
  width: 28.5%; }

@media screen and (max-width: 520px) {
  .grids {
    margin-left: 0;
    width: auto; }

  [class^="g-"] {
    display: block;
    width: auto;
    margin: 0; } }
/*-----------------------------------*\
  $MAIN
\*-----------------------------------*/
html {
  font: 125%/1.5 "Hoefler Text A", "Hoefler Text B", "Hoefler Text", Georgia, serif;
  color: #252525;
  background-color: #cccbc4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  max-width: 57rem;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff; }

@media screen and (max-width: 720px) {
  html {
    font-size: 100%;
    /* 16px */ }

  small, figcaption {
    font-size: .75rem;
    line-height: 1.333; } }
@media screen and (min-width: 1400px) {
  html {
    font-size: 137.5%;
    /* 22px */ } }
.site-content {
  padding-bottom: 3rem; }

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/
.site-header {
  padding: 1.5rem 0; }

.site-header a {
  color: #222; }

.site-header a:hover {
  text-decoration: none; }

.site-title {
  margin-bottom: 0;
  float: left;
  min-width: 10rem; }

.site-title .divide {
  vertical-align: -.15em;
  margin-right: .1em;
  margin-left: -.1em;
  line-height: 1;
  color: #c59b4c;
  text-decoration: none;
  display: inline-block;
  width: 1rem;
  height: 1rem; }

.site-title a:hover {
  opacity: .8; }

.entry-meta {
  color: rgba(0, 0, 0, 0.5); }

.site-navigation {
  float: right; }

.site-nav {
  padding-left: 0; }

.site-nav a {
  padding: 1.5rem .75rem;
  margin: -1.5rem 0;
  font-style: italic; }

.site-nav a:hover {
  color: #c0222b; }

.site-nav .active {
  color: #e2444d; }

@media screen and (max-width: 480px) {
  .site-title, .site-navigation {
    float: none; }

  .site-title {
    margin-bottom: .75rem; }

  .site-nav {
    margin-bottom: -.75rem; }

  .site-nav a {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: 0; }

  .current_page_item a, .current_page_parent a {
    padding-bottom: 8px;
    border-bottom-width: 4px; }

  .site-header {
    text-align: center; } }
/*-----------------------------------*\
  $BANNER
\*-----------------------------------*/
.featured-image {
  text-align: center; }

.featured-image img {
  margin: auto;
  width: auto; }

/*-----------------------------------*\
  $ALL-POSTS
\*-----------------------------------*/
.posts-by-year {
  list-style: none;
  padding-left: 0; }
  .posts-by-year li {
    padding: .75rem 0; }
    .posts-by-year li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .posts-by-year li .entry-meta {
      font-style: normal; }

/*-----------------------------------*\
  $ARTICLE
\*-----------------------------------*/
.entry-header {
  text-align: center;
  padding: 3rem 0; }

.entry-title {
  font-family: "Requiem Display A", "Requiem Display B";
  margin-bottom: 3rem; }

.entry-title:after {
  content: '';
  width: 25%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 1.5rem auto;
  background-color: rgba(0, 0, 0, 0.3); }

.entry-content > .intro {
  font-family: "Hoefler Text SC A", "Hoefler Text SC B", serif; }

.entry-content > .intro:first-letter {
  font-family: "Hoefler Text A", "Hoefler Text B", serif; }

blockquote {
  max-width: 30em;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #aaa;
  color: rgba(0, 0, 0, 0.45);
  font-style: italic; }

blockquote em {
  font-style: normal; }

.paging-navigation {
  margin-bottom: 1.5rem; }

.paging-navigation .nav-previous {
  float: left; }

.paging-navigation .nav-next {
  float: right; }

.paging-navigation .nav-previous a, .paging-navigation .nav-next a {
  cursor: pointer;
  color: #fff;
  font-size: .75rem;
  background-color: #b5b4b3;
  border-radius: .25em;
  padding: .25rem .5rem .25rem;
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney", sans-serif;
  text-transform: uppercase; }

.paging-navigation .nav-previous a {
  border-radius: 0 .25em .25em 0; }

.paging-navigation .nav-previous a:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  border: .65rem solid transparent;
  border-right-color: #b5b4b3; }

.paging-navigation .nav-next a {
  border-radius: .25em 0 0 .25em; }

.paging-navigation .nav-next a:before {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 1px;
  top: 0;
  bottom: 0;
  border: .65rem solid transparent;
  border-left-color: #b5b4b3; }

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/
.site-footer {
  background-color: #f8f7f6;
  border-top: 30px solid #dfdedd;
  padding: 1.5rem 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: .75rem; }

.site-footer:after {
  content: '';
  position: absolute;
  top: -1.25em;
  width: 1.25em;
  height: 1.25em;
  left: 50%;
  margin-left: -.625em;
  background-color: #dfdedd;
  background-image: url("../images/tools.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2rem;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 100%; }

@media screen and (max-width: 720px) {
  .site-footer {
    font-size: .875rem;
    line-height: 1.4; } }
.site-footer p {
  margin-bottom: 1.5em; }

.site-footer a {
  color: rgba(0, 0, 20, 0.8); }

.author-info .avatar {
  position: absolute;
  top: -.25rem;
  left: -3rem;
  width: 2rem;
  height: 2rem; }

@media screen and (max-width: 840px) {
  .author-info .avatar {
    display: none; } }
.recent-posts {
  padding-left: 0;
  list-style: none; }
