.container {
  position: relative;
}

.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: masonry;
  gap: var(--sp-m);
  max-height: 36rem;
  overflow: hidden;
}

.container:has(:checked) .root {
  max-height: none;
}

.readMore {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(var(--sp-m) * 5) var(--sp-m) var(--sp-s);
  top: 50%;
  text-align: center;
  background-image: linear-gradient(transparent, var(--wash-color) 55%);
  display: grid;
  place-items: center;
}

.container:has(:checked) .readMore {
  position: relative;
  padding-block-start: 0;
}

.readMore label {
  cursor: pointer;
  font-family: var(--font-sans);
  padding: var(--sp-xs) var(--sp-s);
  border-radius: var(--sp-s);
  background-color: var(--text-color);
  color: var(--wash-color);
  line-height: 1;
  margin: var(--sp-m);
}

.readMore input {
  display: none;
}

.readMoreLabel {
  display: inline-block;
}

.readMoreLabel::after {
  content: " ↓";
}

.readLessLabel::after {
  content: " ↑";
}

.readLessLabel {
  display: none;
}

.container:has(:checked) .readMoreLabel {
  display: none;
}

.container:has(:checked) .readLessLabel {
  display: inline-block;
}
