/*-----------------------------------*\
	Be a helpful developer.

	Authored, maintained, and practiced by Daniel Eden (@_dte)
\*-----------------------------------*/

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

input, button, textarea {
	font: inherit;
	-webkit-font-smoothing: antialiased;
}

pre, code {
	font: 100%/1.5 Monaco, Consolas, monospace;
}

/*-----------------------------------*\
	$SHARED
\*-----------------------------------*/

::selection {
	background-color: #eb7966;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background-color: #eb7966;
	color: #fff;
	text-shadow: none;
}

h1, h2, h3, p, ul, ol, dl, pre, table {
	margin-bottom: 30px;
	margin-bottom: 1.5rem;
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}

a {
	color: #eb7966;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	-webkit-transition: .2s;
	   -moz-transition: .2s;
	     -o-transition: .2s;
	        transition: .2s;
}

	a:hover, a:focus {
		color: #e55239;
		border-bottom-color: inherit;
	}

p > code {
	color: #d14;
	padding: 2px 4px 1px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-color: rgba(0,0,0,0);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	border-radius: .25em;
	font-size: .8em;
	vertical-align: middle;
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	font: 125%/1.5 skolar, Georgia, "Times New Roman", serif;
	color: #222;
	background-color: #f6f6f6;
	-webkit-font-smoothing: antialiased;
}

	@media screen and (max-width: 500px) {
		html {
			font-size: 100%;
		}
	}

body {
	max-width: 34em;
	margin: 0 auto;
	padding: 1.5em 1.5em 0;
}

	h1 {
		font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
		color: #eb7966;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: 1;
		letter-spacing: .1em;
	}

/*-----------------------------------*\
	$TWITTER
\*-----------------------------------*/

.twitter-anywhere-tweet-box {
	display: block;
	margin: 0 auto 1.5em;
	width: auto;
}

@media screen and (max-width: 500px) {
	#tbox {
		display: none;
	}
}

/*-----------------------------------*\
	$ADS
\*-----------------------------------*/

.ad {
	padding: 1.5em;
	background-color: #333;
	color: #eee;
	overflow: hidden;
	font-size: .875em;
	line-height: 1.714;
}

	@media screen and (max-width: 500px) {
		.ad {
			text-align: center;
		}
	}
	
	.ad h3 {
		font: 1em/1.5 proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: 1.5em;
		font-weight: 700;
	}

	.ad img {
		float: left;
		margin-right: 1.5em;
		border: .25em solid rgba(255,255,255,.3);
	}

		@media screen and (max-width: 500px) {
			.ad img {
				float: none;
				margin: 0 auto 1.5em;
			}
		}

	.ad a {
		color: #aaa;
		color: rgba(255,255,255,.6);
	}

	.bsa_it_p {
		display: none;
	}

	.bsa_it_t {
		display: block;
		font-weight: 700;
	}

	.bsa_it_d {
		display: block;
	}