/* style.css */

*  {
	margin: 0;
	padding: 0;
}

::selection {
	background: #F8F7C9;
	color: #CB9240;
	text-shadow: none;
}

::-moz-selection {
	background: #F8F7C9;
	color: #CB9240;
	text-shadow: none;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

html {
	font-family: nimbus-sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

hr {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	clear: both;
	height: 0;
	display: block;
	margin: 1.5em 0;
}

h1, h2, h3, h4 {
	color: #000;
}

p {
	margin-bottom: 1.5em;
}

code {
	font-size: 1.2em;
	line-height: 1;
	font-weight: 700;
	color: #36a978;
}

p a {
	text-decoration: none;
	color: #fe5741;
	font-weight: bold;
}

p a:hover {
	color: #fe391f;
	text-decoration: underline;
}

.alignright {
	float: right;
}

.container {
	max-width: 600px;
	padding: 0 16px;
	margin: 24px auto;
	-webkit-animation-duration: .75s;
	-webkit-animation-delay: .5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	-moz-animation-duration: .75s;
	-moz-animation-delay: .5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-moz-animation-name: fadeInUp;
	animation-duration: .75s;
	animation-delay: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-name: fadeInUp;
}

.slides {
	width: 100%;
	height: 400px;
	position: relative;
	margin: 1.5em 0;
}

.slides li {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 96%;
	padding: 2%;
	list-style: none;
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 1;
}

.slides .inactive {
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-ms-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-ms-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

.slides .active {
	-webkit-animation-name: fadeInLeft;
	-webkit-animation-delay: .5s;
	-moz-animation-name: fadeInLeft;
	-moz-animation-delay: .5s;
	-ms-animation-name: fadeInLeft;
	-ms-animation-delay: .5s;
	animation-name: fadeInLeft;
	animation-delay: .5s;
	opacity: 1 !important;
	z-index: 5;
}

.bounce .slides .active {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-ms-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}

.bounce .slides .inactive {
	-webkit-animation-name: bounceOutRight;
	-moz-animation-name: bounceOutRight;
	-ms-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}

.spin .slides .active {
	-webkit-animation-name: rotateInUpLeft;
	-moz-animation-name: rotateInUpLeft;
	-ms-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}

.spin .slides .inactive {
	-webkit-animation-name: rotateOutUpRight;
	-moz-animation-name: rotateOutUpRight;
	-ms-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
}

#animateTest p {
	margin: 0;
}

footer {
	margin: 1.5em 0 0;
	border-top: 1px solid #ddd;
	color: #aaa;
	padding: 1.5em 0 0;
}

footer a {
	color: #666;
}

@media screen and (max-width: 600px) {
	body {
		-webkit-font-smoothing: antialiased;
	}
	
	.github {
		display: none;
	}
	
	footer {
		font-size: .9em;
	}
}