/*-----------------------------------*\
	Compound Grid
	6 columns & 4 columns
\*-----------------------------------*/

.grid {
	margin-left: -1.95%;
	width: auto;
	overflow: hidden;
	clear: both;
}

.g-4-1, .g-4-2, .g-4-3, .g-4-4,
.g-6-1, .g-6-2, .g-6-3, .g-6-4, .g-6-5, .g-6-6,
.u-12-1, .u-12-2, .u-12-3, .u-12-4, .u-12-5, .u-12-6, .u-12-7, .u-12-8, .u-12-9, .u-12-10, .u-12-11, .u-12-12 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 1.95%;
	margin-right: -.25em;
	vertical-align: top;
}

/*-----------------------------------*\
	Units

	12 units, approx. 72px in width, 22px margins

	These things can get complicated, especially when it comes to nested grids.
	Best sticking to your own defined columns, and perhaps consider fixed-width
	unit measurements within the grid.
\*-----------------------------------*/

.u-12-1 {
	width: 6.21%;
}

.u-12-2 {
	width: 14.5%;
}

.u-12-3 {
	width: 23%;
}

.u-12-4 {
	width: 31.3334%;
}

.u-12-5 {
	width: 39.6667%;
}

.u-12-6 {
	width: 48%;
}

.u-12-7 {
	width: 56.3334%;
}

.u-12-8 {
	width: 64.6667%;
}

.u-12-9 {
	width: 73%;
}

.u-12-10 {
	width: 81.3334%;
}

.u-12-11 {
	width: 89.6667%;
}

/*-----------------------------------*\
	Four Columns

	Four-column layout, 3 units each
\*-----------------------------------*/

.g-4-1 {
	width: 22.9%;
}

	.g-4-1 [class*="u-12-"] {
		margin-left: 8.6%
	}

	.g-4-1 .u-12-1 {
		width: 27.5%;
	}

	.g-4-1 .u-12-2 {
		width: 63.6%;
	}

.g-4-2 {
	width: 48%;
}

	.g-4-2 [class*="u-12-"] {
		margin-left: 4.1%
	}

	.g-4-2 .u-12-1 {
		width: 13.26%;
	}

	.g-4-2 .u-12-2 {
		width: 30.62%;
	}

	.g-4-2 .u-12-3 {
		width: 47.98%;
	}

.g-4-3 {
	width: 73%;
}

.g-4-1 [class*="u-12-"]:nth-child(3n+1),
.g-4-2 [class*="u-12-"]:nth-child(6n+1),
.g-4-3 [class*="u-12-"]:nth-child(9n+1),
.g-4-4 [class*="u-12-"]:nth-child(12n+1) {
	margin-left: 0;
}

/*-----------------------------------*\
	Six columns

	Six column layout, 2 units each
\*-----------------------------------*/

.g-6-1 {
	width: 14.5%;
}

.g-6-2 {
	width: 31.3334%;
}

.g-6-3 {
	width: 48%;
}

.g-6-4 {
	width: 64.6667%;
}

.g-6-5 {
	width: 81.3334%;
}

.b-6-1 {
	margin-left: 18.65%;
}

.b-6-2 {
	margin-left: 35.3%;
}

.b-6-3 {
	margin-left: 52%;
}

.b-6-4 {
	margin-left: 70%;
}

.b-6-5 {
	margin-left: 87%;
}

.a-6-1 {
	margin-right: 16.65%;
}

.a-6-2 {
	margin-right: 33.3%;
}

.a-6-3 {
	margin-right: 50%;
}

.a-6-4 {
	margin-right: 68%;
}

.a-6-5 {
	margin-right: 85%;
}

/*-----------------------------------*\
	Full widths
\*-----------------------------------*/

.g-4-4, .g-6-6, .u-12-12 {
	width: 98%;
}

/*-----------------------------------*\
	Pulls & Pushes
\*-----------------------------------*/

.pull-12-2 {
	margin-left: -14.6667%;
}

	.g-4-2 .pull-12-2 {
		margin-left: -34.72%;
	}