/*
 * Base Variables
 * ==============
 *
 */

:root {
  --baseline: 1.7778rem;
  --small: 0.875rem;

  --wash-color: #fefefe;
  --site-color: #00c266;
  --text-color: #000207;
  --meta-color: #747474;

  --monospace-fallback: "Input Mono", "Source Code Pro", "Monaco", monospace;
  --monospace: "Founders Grotesk Mono Web", var(--monospace-fallback);

  --sans-serif: var(--monospace);

  --serif-fallback: "Georgia", "Times New Roman", serif;
  --serif: "Tiempos Text Web", var(--serif-fallback);
}
