/*
 * Typography
 * ==========
 *
 */

*:not(h1) + h2,
* + h3 {
  padding-top: var(--baseline);
}

h3 {
  font-feature-settings: "smcp", "c2sc";
  font-size: inherit;
  font-style: normal;
  letter-spacing: 0.025em;
  text-align: left;
  text-transform: uppercase;
}

code,
pre {
  font-family: var(--monospace);
  font-size: var(--small);
}

.footnotes::before {
  padding-top: 0;
}

.meta {
  color: var(--meta-color);
}

mark {
  background-color: rgba(0, 0, 0, 0.075);
  color: inherit;
}

.caps {
  font-feature-settings: "smcp", "c2sc", "lnum";
  letter-spacing: 0.05em;
}

small,
.small {
  font-size: var(--small);
}
