/*
 * Content
 * =======
 *
 */

sup[id*="fnref"] a {
  color: var(--site-color);
  font-family: var(--sans-serif);
  text-decoration: none;
}

.footnotes {
  color: var(--meta-color);
  font-size: var(--small);
}

.footnotes a {
  color: inherit;
}

.footnotes ol {
  padding-left: 0;
}

.footnotes li {
  margin-bottom: calc(var(--baseline) / 2);
}

.footnotes li:target {
  color: var(--text-color);
}
