/*
 * Spacing
 * =======
 *
 */

.pas {
  padding: calc(var(--baseline) / 4);
}

.pam {
  padding: calc(var(--baseline) / 2);
}

.pal {
  padding: var(--baseline);
}

.phs {
  padding-left: calc(var(--baseline) / 4);
  padding-right: calc(var(--baseline) / 4);
}

.phm {
  padding-left: calc(var(--baseline) / 2);
  padding-right: calc(var(--baseline) / 2);
}

.phl {
  padding-left: var(--baseline);
  padding-right: var(--baseline);
}

.pvs {
  padding-bottom: calc(var(--baseline) / 4);
  padding-top: calc(var(--baseline) / 4);
}

.pvm {
  padding-bottom: calc(var(--baseline) / 2);
  padding-top: calc(var(--baseline) / 2);
}

.pvl {
  padding-bottom: var(--baseline);
  padding-top: var(--baseline);
}

.ml {
  margin-bottom: var(--baseline);
}

.mxl {
  margin-bottom: calc(var(--baseline) * 2);
}

.mbs {
  margin-bottom: cal(var(--baseline) / 2);
}

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}
