/*-----------------------------------*\

  Partial: forms

  Form & form element styles

\*-----------------------------------*/

.debug-outline {
  * {
    outline: 1px dotted rgba(0,0,0,.1);
    outline-offset: -1px;

    &:hover {
      outline-color: red;
    }
  }
}
