/*-----------------------------------*\

  Partial: helpers

  Helper classes for allsorts

\*-----------------------------------*/


.o--b {
  display: block;
}

.o--p {
  margin-bottom: $baseline;
}

.o--mz {
  margin-bottom: 0;
}

.unl {
  padding-left: 0;
  list-style: none;
}
