//
// Partial: images
// ===============
//
// Sprite and image helpers should go here
//

figure img,
picture img {
  display: block;
  width: 100%;
  margin-bottom: $baseline/2;
}

.alignleft {
  @media (min-width: $toast-breakpoint-medium) {
    float: left;
    width: calc(50% - #{$baseline/2});
    margin-left: calc(-50% - #{$baseline/2});
    margin-right: $baseline;
  }
}

.alignright {
  @media (min-width: $toast-breakpoint-medium) {
    float: right;
    width: calc(50% - #{$baseline/2});
    margin-right: calc(-50% - #{$baseline/2});
    margin-left: $baseline;
  }
}

.imgbleed {
  @media (min-width: $toast-breakpoint-medium) {
    width: calc(150% + #{$baseline/2});
  }
}

figcaption :last-child {
  margin-bottom: 0;
}
