/*-----------------------------------*\

  Partial: Images

\*-----------------------------------*/

figcaption {
  @extend .meta;

  font-family: $font-Sans;
  font-size: .666666667rem;
  line-height: 1.555555833;
  text-align: right;

  .caps {
    font-family: $font-Sans-SC;
  }

  @media ( max-width: $breakpoint-medium ) {
    text-align: left;
  }

  @media ( max-width: $breakpoint-small ) {
    font-size: .857142857rem;
  }
}

figure {
  padding-top: $baseline/2;

  img {
    max-width: 100% !important;
    display: block;
    margin-bottom: $baseline/2;

    @media ( max-width: $breakpoint-small ) {
      max-width: none;
      width: calc( 100% + #{$baseline} );
      margin-left: -$baseline/2;
      margin-right: -$baseline/2;
    }
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 1.5rem;
}

.alignleft, .alignright {
  clear: both;
  padding-top: 0;
  margin-bottom: $baseline/2;

  img {
    max-width: 100%;
    width: auto;
    margin: auto;
    margin-bottom: $baseline/2;
  }

  figcaption {
    text-align: left;
  }
}

.alignleft {
  @extend .grid__col--pull-1-of-4;
  float: left;
  margin-right: $baseline;
  padding-left: $gutter;
}

.alignright {
  @extend .grid__col--pull-1-of-4--right;
  float: right;
  margin-left: $baseline;
  padding-right: $gutter;
}

@media ( max-width: $breakpoint-regular ) {
  .alignleft {
    margin-left: -13.5%;
  }

  .alignright {
    margin-right: -13.5%;
  }
}

@media ( max-width: $breakpoint-small ) {
  .alignleft, .alignright {
    float: none;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: $baseline;
    padding: 0;
  }
}
