//
// Partial: mixins
// ===============
//
// Site-wide mixin definitions
//


// Image replacement technique
@mixin image-replace {
  // Extra text indent to account for narrow parent widths
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}
