//
// Partial: objects
// ================
//
// Abstractions that can't be categorised anywhere else


// Group: nav
.nav, .nav ul, .nav ol {
  list-style: none;
  padding-left: 0;

  li, a {
    display: inline-block;
  }
}
