/*-----------------------------------*\

  Partial: Objects

  Abstracted things and common
  patterns go here. Not to be
  confused with helpers.

\*-----------------------------------*/

.nav, .nav ul {
  padding-left: 0;
  z-index: 1;

  list-style: none;

  .nav--sub {
    padding-left: 1.5em;
    margin-bottom: 0;
  }

  .active {
    font-weight: 700;

    color: $dark-gray;
  }
}

.nav--inline {
  margin-bottom: 0;

  & li, & li > a {
    display: inline-block;
  }

  li {
    margin-left: 1em;
  }
}

.img {
  display: block;

  &.img--centered {
    margin-left: auto;
    margin-right: auto;
  }
}