/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/

.island {
  padding: .75rem;
}

.nav {
  list-style: none;
  margin-bottom: 0;

  li, a {
    display: inline-block;
  }

  li {
    margin-right: -.25em;
  }
}

.avatar {
  border-radius: 100%;
}

figure img {
  margin-bottom: .75rem;
}

p:empty {
  display: none;
}

.b, .p {
  margin-bottom: $baseline;
}

.promo {
  text-align: center;
}