/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

input, button, select, textarea {
  font: inherit;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/*-----------------------------------*\
  $CLEARFIX
\*-----------------------------------*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
