//
// Partial: typography
// ===================
//
// Type styles
//


h1,
.alpha {
  font-size: 1rem;
  font-weight: 700;
}

h2,
.beta {
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
}

h3,
.gamma {
  font-size: 1rem;
  font-weight: 600;
}

h4,
.delta {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}

small, .small,
%small {
  font-size: .8em;
}

.meta,
%meta {
  color: $light-gray;
}

a, a:visited,
%link {
  text-decoration: underline;

  color: inherit;
  cursor: pointer;

  &:hover {
    color: $highlight;
  }
}

figcaption,
%figcaption {
  @extend %small;

  color: $light-gray;
}

hr,
%hr {
  border: 0;
  border-bottom: 2px solid $lighter-gray;
  width: 6rem;
  padding-top: $baseline;
  margin: {
    top: -2px;
    right: auto;
    bottom: $baseline*2;
    left: auto;
  }
}

mark {
  background-color: transparent;
  color: $highlight;
}

blockquote {
  padding-left: $baseline;

  border-left: 2px solid $highlight;
}

.promo {
  text-align: center;
}

.caps {
  font-feature-settings: "c2sc" 1, "smcp" 1;
}

sup, sub {
   vertical-align: baseline;
   top: -0.4em;
}

sub {
  top: 0.4em;
}
