/*-----------------------------------*\
  $TYPE
\*-----------------------------------*/

a {
  color: inherit;
  text-decoration: underline;
  &:hover, &:focus {
    color: $link;
  }

  .site-header &, .posts-by-year & {
    text-decoration: none;
  }

  .posts-by-year & {
    color: $link;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

hr {
  border: none;
  margin-top: $baseline;
  margin-bottom: $baseline;
  background-image: inline-image("tristar.min.svg");
  background-repeat: no-repeat;
  background-size: auto $baseline;
  background-position: center;
  height: $baseline;
}

h1, .alpha {
  font-family: $Display;
  font-size: $baseline*($baseline/1rem);
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: -.04em;

  .caps {
    font-family: $Display;
  }

  @media (max-width: 720px) {
    font-size: $baseline*1.6;
    line-height: 1.043478261;
  }
}

h2, .beta {
  clear: both;
  font-size: $baseline;
  font-weight: 400;
  margin-bottom: $baseline;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0;
  font-family: $Serif;
  letter-spacing: -.03em;

  &.p {
    margin-bottom: $baseline/2;
  }
}

  .entry-content {
    * + h2 {
      margin-top: $baseline*3;
    }

    hr + h2 {
      margin-top: 0;
    }
  }

h3, .gamma {
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: $baseline/2;
  font-style: normal;
  letter-spacing: .1em;
  font-family: $Serif-SC;
  text-transform: uppercase;
}

  .entry-content {
    * + h3 {
      margin-top: $baseline*2;
    }

    h2 + h3 {
      margin-top: 0;
    }
  }

h1 a, h2 a, h3 a,
a h1, a h2, a h3 {
  text-decoration: none;
}

.entry-content p {
  hyphens: auto;
}

small {
  font-size: $baseline/2;
  line-height: 1.666;
  color: rgba(0,0,0,.7);
}

del {
  opacity: .65;
  text-decoration: line-through;
}

.callout, .promo {
  text-align: center;
}

.caps {
  text-transform: uppercase;
  font-family: $Serif-SC;
  letter-spacing: .02em;
}

figcaption {
  font-family: $Sans;
  font-size: $baseline/2;
  color: darken($gray, 25%);
  .caps {
    font-family: $Sans-SC;
  }
}

blockquote {
  font-family: $Sans;
  padding-left: $baseline;
  border-left: 2px solid $link;
  margin-left: -$baseline;
  color: darken($gray, 35%);

  @media (max-width: $breakpoint-small) {
    margin-left: 0;
  }

  .caps {
    font-family: $Sans-SC;
  }

  em {
    font-style: normal;
  }
}

.standalone {
  margin-bottom: 0;
}