<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} &#10087; {{ site.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="jUNoh1wOQAwoXUjOsdlOgIeOGsUrMPon_9fXg-E9yUI"/>

    <!-- Prefetch DNS -->
    <link rel="dns-prefetch" href="//ajax.cloudflare.com"/>
    <link rel="dns-prefetch" href="//cloud.typography.com"/>
    <link rel="dns-prefetch" href="//ajax.googleapis.com"/>
    <link rel="dns-prefetch" href="//www.google-analytics.com"/>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7158232/776222/css/fonts.css" />
    <!-- You can view the uncompressed SCSS file at /assets/css/scss/style.scss -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Set Adaptive Images cookie -->
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>

</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  <header class="site-header">
    <div class="wrap cf">
      <h1 class="site-title gamma"><a href="/" title="{{ site.name }}">{{ site.name }}</a></h1>
      <nav class="site-navigation">
        <ul class="nav site-nav">
          {% for p in site.pages %}
            {% if p.in-nav == true %}
            <li>
              <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                {{ p.title }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <main class="site-content">
    <div class="wrap">
      {{ content }}

    </div>
  </main>

  <footer class="site-footer">
    <div class="wrap">

        <section class="author-info vcard">
          <img alt='' src='http://0.gravatar.com/avatar/ce22c94e6c291345223e0118bfdd8714?s=90&amp;d=identicon&amp;r=R' class='avatar avatar-90 photo' height='90' width='90'/> <h3>About</h3>
          <p>My name is Daniel Eden. I'm a designer and writer from Manchester, <span class="caps">UK</span>. Learn more <a href="/about">about me</a> or this site’s <a href="/purpose">purpose.</a></p>
        </section>

        <section>
          <h3>Recent Posts</h3>
          <ul class="recent-posts">
            {% for post in site.posts limit:5 %}
              {% if post.hidden != true %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>

        <section>
          <h3>Colophon</h3>
          <p>Designed, developed, and maintained by <a href="/about">Daniel Eden</a>. Hosted by <a title="RamNode" href="https://clientarea.ramnode.com/aff.php?aff=088">RamNode</a>. Set in <span class="caps">H&FJ</span>’s Mercury and Whitney. Check the <a href="/styleguide">styleguide.</a><p>
        </section>
    </div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43231078-2', 'daneden.me');
    ga('send', 'pageview');

  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  <script>
    $(document).ready(function() {
      if ($.fn.fitVids) {
        $('.entry-content').fitVids();
      };
    });
  </script>
</body>
</html>
