<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <title>Daniel Eden, Designer</title>
  <meta name="viewport" content="initial-scale=1" />
  <meta name="p:domain_verify" content="aa712630840b421410cce3b56d2dc764" />

  <meta property="og:title" content="Daniel Eden, Designer"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ page.excerpt | strip_html | xml_escape }}"/>

  <meta name="theme-color" content="{{ site.color[0] }}" />

  <style>
    {% asset 'frontpage' %}
  </style>

  <script>
    {% asset 'fonts' %}
  </script>

  <!-- Icons -->
  <link rel="shortcut icon" href="/static/images/icon.png" />
  <link rel="apple-touch-icon" href="/static/images/icon.png" />
  <link rel="mask-icon" sizes="any" href="/static/images/icon-mask.svg" color="{{ site.color[0] }}" />

  <body>
    <!-- You know, rather than reading the source like a chump, you can see it all on GitHub like a champ: https://github.com/daneden/daneden.me -->
    <h1 class="site-title">
      {{ site.name }}
    </h1>
    <main class="fl50 main-content">
      {{ content }}
    </main>
    <script>
      {% asset 'front' %}
    </script>

  </body>
</html>
