{% include header.html %}

  <main class="site-content post--single" role="main">
	<article role="article">
		<header class="entry-header wrap promo">
			<h1 class="entry-title">{{ page.title | widont }}</h1>
			<p class="entry-meta">
				{{ page.date | pretty }}
			</p>
		</header>

		<div class="entry-content wrap">
		{{ content }}
		</div>
	</article>

    {% if page.previous.url %}
    <nav class="entry-nav nav">
    	<ul class="wrap">
    		{% if page.next.url %}
    		<li>
    			<a rel="next" href="{{ page.next.url }}">
    				<h3 class="standalone">Next Post</h3>
    				<p class="beta p">{{page.next.title}}</p>
    			</a>
    		</li>
    		{% endif %}
    		<li>
    			<a rel="prev" href="{{ page.previous.url }}">
    				<h3 class="standalone">Previous Post</h3>
    				<p class="beta p">{{page.previous.title}}</p>
    			</a>
    		</li>
    	</ul>
  	</nav>
    {% endif %}

  </main>

{% include footer.html %}