/*! Unminified source available at /assets/css/scss/style.scss */

@import 'partials/reset';
@import 'partials/base';
@import 'partials/shared';
@import 'partials/typography';
@import 'partials/code';
@import 'partials/objects';
@import 'partials/layout';

/*-----------------------------------*\
  $MAIN
\*-----------------------------------*/

html {
  font: 112.5%/1.55 $Serif; /* 18px/28px */
  color: #252525;
  background-color: darken($gray, 50%);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  body {
    background-color: #feffff;
  }

}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%; /* 15px */
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 125%; /* 20px */
  }
}

.site-content {
  padding-bottom: 3rem;
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site-header {
  background-color: lighten($gray, 17.5%);
  background-image: url(/assets/images/stripes.svg);
  background-position: center top;
  background-repeat: repeat-x;
  padding: $baseline 0;
  margin-bottom: $baseline;
}

  .site-title {
    margin-bottom: $baseline/2;
  }

  .entry-meta {
    font-family: $Sans;
    color: darken($gray, 20%);
  }

    .site-nav {
      font-weight: 700;
      padding-left: 0;

      li + li {
        margin-left: $baseline/1.75;
      }
    }

      .site-nav a:hover {
        color: $link-hover;
      }

      .site-nav .active {
        color: $link;
      }

/*-----------------------------------*\
  $BANNER
\*-----------------------------------*/

.featured-image {
  text-align: center;
}

  .featured-image img {
    margin: auto;
    width: auto;
  }

/*-----------------------------------*\
  $ALL-POSTS
\*-----------------------------------*/

.posts-by-year {
  list-style: none;
  padding-left: 0;

  a {
    font-weight: 700;
  }

  li {
    padding: $baseline/2 0;
    overflow: hidden;

    + li {
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .entry-meta {
      float: right;
      margin-left: $baseline/2;
    }
  }

}

/*-----------------------------------*\
  $ARTICLE
\*-----------------------------------*/

.entry-header {
  padding: $baseline 0;
}

.entry-title {
  margin-bottom: $baseline/2;
}

.entry-content {
  &:after {
    content: '\2766';
    display: block;
    font-size: $baseline*2;
    line-height: 1;
    text-align: center;
    color: $gray;
  }

  > .intro {
    font-family: $Serif-SC;

    &:first-letter {
      font-family: $Serif;
    }
  }
}

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

.site-footer {
  background-color: darken($gray, 50%);
  padding: $baseline 0;
  color: $gray;
  font-size: $baseline/2;

  .wrap {

    section {
      display: inline-block;
      margin-right: -.25em;
      vertical-align: top;
      width: 30%;
      margin-left: 5%;

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
        width: auto;
        margin-left: 0;
      }
    }

    @media (max-width: $breakpoint-small) {
      display: block;
    }

  }

  p {
    margin-bottom: 1.5em;
  }
}

  .author-info .avatar {
    position: absolute;
    top: -.25rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
  }

  @media screen and (max-width: 840px) {
    .author-info .avatar {
      display: none;
    }
  }

  .recent-posts {
    padding-left: 0;
    list-style: none;
  }