@import "partials/reset";
@import "partials/base";
@import "partials/shared";
@import "partials/typography";
@import "partials/code";
@import "partials/objects";
@import "partials/layout";

/*-----------------------------------*\
  $MAIN
\*-----------------------------------*/

html {
  font: 106.25%/1.55 $Serif; /* 17px/26px */
  color: darken($gray, 55%);
  background-color: lighten($gray, 15%);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;

  body {
    background-color: lighten($gray, 22.5%);
  }

}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%; /* 15px */
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 125%; /* 20px */
  }
}

.site-content {
  padding-bottom: 3rem;
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site-header {
  padding: $baseline/2 0;
  margin-bottom: $baseline;
  color: darken($gray, 25%);
}

  .site-title {
    box-sizing: content-box;
    float: left;
    display: inline-block;
    height: $baseline*2;
    width: $baseline*2.5;
    z-index: 2;
    padding-right: $baseline/1.5;
    background-color: #fff;
    background-image: url("/static/images/monogram.min.svg");
    background-size: $baseline*2.5;
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .entry-meta {
    color: darken($gray, 20%);
  }

    .site-nav {
      padding-top: $baseline/2;
      margin-bottom: 0;
      padding-left: 0;
      padding-bottom: .25rem;
      border-bottom: .125rem solid lighten($gray, 15%);
      @extend .caps;

      li + li {
        margin-left: $baseline/1.25;
      }

      a {
        color: inherit;
      }
    }

      .site-nav a:hover {
        color: $link;
      }

      .site-nav .active {
        color: $link;
        border-bottom: 2px solid $link;
        padding-bottom: .25rem;
        margin-bottom: -.375rem;
      }

/*-----------------------------------*\
  $HOME
\*-----------------------------------*/

.home__illustration {
  max-width: 100%;
  padding-bottom: 63.63%;
  height: 0;
}

/*-----------------------------------*\
  $BANNER
\*-----------------------------------*/

.featured-image {
  text-align: center;
}

  .featured-image img {
    margin: auto;
    width: auto;

  }

/*-----------------------------------*\
  $ALL-POSTS
\*-----------------------------------*/

.posts-by-year {
  list-style: none;
  padding-left: 0;

  a {
    font-weight: 700;
  }

  li {
    padding: $baseline/2 0;
    overflow: hidden;

    + li {
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .entry-meta {
      float: right;
      margin-left: $baseline/2;
    }
  }

}

/*-----------------------------------*\
  $ARTICLE
\*-----------------------------------*/

.entry-header {
  padding: {
    top: $baseline;
    bottom: $baseline;
  }
}

.entry-title {
  margin-bottom: $baseline/2;
}

.entry-content {

  &:last-of-type:after {
    content: "";

    display: block;
    margin: 0 auto;
    width: 100%;
    height: 56px;
    padding: $baseline 0;

    background-image: inline-image("fleuron.min.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  > .intro {
    @extend .caps;

    &:first-letter {
      font-family: $Serif;
    }
  }
}

.entry-nav {
  color: darken($gray, 15%);
  margin-bottom: -$baseline*2;
  margin-top: $baseline*2;
  overflow: hidden;
  box-shadow: inset 0 1px lighten($gray, 15%);

  ul {
    position: static;
  }

  a {
    text-decoration: none;
  }

  li {
    z-index: 1;
    width: 50%;
    vertical-align: top;
    position: static;

    &:nth-child(odd) a {
      padding-left: 0;

      &:before {
        right: 50%;
        left: 0;
        box-shadow: 1px 0 lighten($gray, 15%);
      }
    }

    &:nth-child(even) a {
      padding-right: 0;

      &:before {
        right: auto;
        left: 50%;
        right: 0;
      }
    }

    a {
      width: 100%;
      padding: $baseline/2;
      position: static;

      &:hover {
        background-color: $link;
        color: #fff;

        &:before {
          background-color: $link;
          box-shadow: none;
        }
      }


      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

.site-footer {
  padding: $baseline 0;
  background-color: lighten($gray, 15%);
  color: darken($gray, 30%);
  font-size: $baseline/2;

  .wrap {

    section {
      display: inline-block;
      margin-right: -.25em;
      vertical-align: top;
      width: 47.5%;
      margin-left: 5%;

      &:nth-child(2n+1) {
        margin-left: 0;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
        width: auto;
        margin-left: 0;
      }
    }

    @media (max-width: $breakpoint-small) {
      display: block;
    }

  }

  p {
    margin-bottom: 1.5em;
  }
}

  .author-info .avatar {
    position: absolute;
    top: -.25rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
  }

  @media screen and (max-width: 840px) {
    .author-info .avatar {
      display: none;
    }
  }

  .recent-posts {
    padding-left: 0;
    list-style: none;
  }